<!DOCTYPE html>
<html>
<head>
  <%= render './partials/cartocss_styles' %>
 
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>

  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
  
</head>
<body>
<%= render './partials/main_page' %>

<%= yield %>


  <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>

<%= javascript_include_tag 'application'%>

</body>
</html>
