<!DOCTYPE html>
<html>
<head>
  <style type="cartocss/text" id="style_1">
    #style-1{
      marker-fill-opacity: 0.9;
      marker-line-color: #FFF;
      marker-line-width: 1.5;
      marker-line-opacity: 1;
      marker-placement: point;
      marker-type: ellipse;
      marker-width: 10;
      marker-fill: #FF6600;
      marker-allow-overlap: true;
    }
  </style>
  <style type="cartocss/text" id="style_2">
  #style-2{
    marker-fill-opacity: 0.9;
    marker-line-color: #FFF;
    marker-line-width: 1.5;
    marker-line-opacity: 1;
    marker-placement: point;
    marker-type: ellipse;
    marker-width: 10;
    marker-fill: #99d8c9;
    marker-allow-overlap: true;
  }</style>


  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
  
</head>
<body>
<%= render './partials/main_page' %>

<%= yield %>


  <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>

<%= javascript_include_tag 'application'%>

</body>
</html>
