<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
  
</head>
<body>
<%= render './partials/main_page' %>

<%= yield %>


  <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>

<%= javascript_include_tag 'application'%>

</body>
</html>
