<nav class="navbar navbar-default linear-gradient">
  <div class="container-fluid">
    <div class="navbar-header">
     <%= link_to 'UFO Sigthings','/',class: 'navbar-brand a-nav-izq'%>
    </div>
     
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right ">
        <li class="text-center">
        <%= link_to 'Study case', studycase_path,class: 'a-nav-der'%>
        </li>
        <li class="text-center">
        <%= link_to 'Shared Maps', shared_path,class: 'a-nav-der'%>
        </li>
        <% if current_user %>
        <li><%= link_to 'My maps', user_maps_path(current_user),class: 'a-nav-der'%></li> 

        <li><%= link_to 'Logout', destroy_user_session_path, method: 'DELETE',class: 'a-nav-der'%></li> 
        <% else %>
          <li><%= link_to 'Login', user_session_path,class: 'a-nav-der' %> </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

