<h1 class='elegantshadow'>Log in</h1>
<div class="container">
  

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true,class: "feedback-input",placeholder: "email" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off",class: "feedback-input",placeholder: "password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.label :remember_me %>
      <%= f.check_box :remember_me,class: "form-control" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in",class: 'button2' %>
  </div>

<%= render "devise/shared/links" %>
<% end %>
</div>


