<%= javascript_include_tag 'usermaps/usermaps.js' %>


<%= link_to 'New Map', new_user_map_path(current_user), class: "btn btn-primary" %> 
<button id="<%=@user.id%>" class="btn btn-info show-stored-maps">My Maps</button>
<% if current_user %>
 <div class="container-fluid">
    <header class="row">
      <section class="col-sm-12 well text-center">
        <p><strong>Name:</strong>  <%= current_user.name %> <strong>Email:</strong> <%= current_user.email %></p>
      </section>
    </header>
  </div>
<% end %>
<hr>

<style>
  .small-maps{
    height: 60%;
    width: 100%;
  }
   .each-map{
    height: 300px;
  }
</style>

<div class="container">
  <div class="row maps-gallery">
    
  </div>
</div>


<hr>



<% if @maps %>
<section class="container">
  <div class="row">
    <div style="width:100%;height:500px;" id="selected-map" class="col-md-12"></div>
  </div>
</section>
  <% @maps.each do |map| %>
    <p>
      <%=  map.description %>
    </p> 
  <% end %>
<% end %>





