<%= render './partials/map_styles' %>
<p> <%= flash_message %> </p>  

<% if @map.errors.any? %>
  <ul>
    <% @map.errors.full_messages.each do |error| %>
      <li style="background-color: red; margin: 5px;"> <%= error %> </li>
    <% end %>
  </ul>
<% end %>

<div class="container-fluid">
<header class="row">
  <section class="col-sm-6 text-center">
    <legend>Creating a map</legend>
  <%= form_for [@user, @map] do |f| %>

    <div class="form-group">
      <%= f.label :cartodb_username %>
      <%= f.text_field :cartodb_username,class: "form-control" %>
      <%= f.label :table %>
      <%= f.text_field :table,class: "form-control" %>
      <%= f.label :city %>
      <%= f.text_field :city,class: "form-control" %>
    
      <%= f.label :state %>
      <%= f.text_field :state,class: "form-control" %>

      <legend>Add a description</legend>
        <%= f.label :description %>
        <%= f.text_area :description,class: "form-control" %>

      <legend>Search by date</legend>
        <%= f.label :date1 %>
        <%= f.date_field :date1 %>

        <%= f.label :date2 %>
        <%= f.date_field :date2 %>  
      </div>
      
      <%= f.submit 'CREATE MAP',class: 'btn btn-primary btn-block' %>
   
  <% end %>
  </section>

     <section class="col-sm-6 text-center">
      <legend>Choose a style</legend>
      <div class="row">
        <div class="btn-group">
          <button id="mapcolor-1" class="btn btn-default mp"></button>
          <button id="mapcolor-2" class="btn btn-default mp"></button>
          <button id="mapcolor-3" class="btn btn-default mp"></button>
          <button id="mapcolor-4" class="btn btn-default mp"></button>
          <button id="mapcolor-5" class="btn btn-default mp"></button>
          <button id="mapcolor-6" class="btn btn-default mp"></button>
        </div>
      </div>
      <div class="row">
        <div class="btn-group">
          <button id="mapcolor-7" class="btn btn-default mp"></button>
          <button id="mapcolor-8" class="btn btn-default mp"></button>
          <button id="mapcolor-9" class="btn btn-default mp"></button>
          <button id="mapcolor-10" class="btn btn-default mp"></button>
          <button id="mapcolor-11" class="btn btn-default mp"></button>
          <button id="mapcolor-12" class="btn btn-default mp"></button>
        </div>
      </div>
      <div class="row">
        <div class="btn-group">
          <button id="mapcolor-13" class="btn btn-default mp"></button>
          <button id="mapcolor-14" class="btn btn-default mp"></button>
          <button id="mapcolor-15" class="btn btn-default mp"></button>
          <button id="mapcolor-16" class="btn btn-default mp"></button>
          <button id="mapcolor-17" class="btn btn-default mp"></button>
          <button id="mapcolor-18" class="btn btn-default mp"></button>
        </div>
      </div>
    </section>
  </header>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <input type="button" class="btn btn-success btn-block" id="show-map" value="PREVIEW">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 map-container">
    </div>
  </div>
</div>


  