<%= javascript_include_tag 'usermaps/usermaps.js' %>

<p> <%= flash_message %> </p>  

<% if @map.errors.any? %>
  <ul>
    <% @map.errors.full_messages.each do |error| %>
      <li style="background-color: red; margin: 5px;"> <%= error %> </li>
    <% end %>
  </ul>
<% end %>

<div class="container-fluid">
<header class="row">
  <section class="col-sm-6 text-center">
    <legend>Creating a map</legend>
  <%= form_for [@user, @map] do |f| %>

    <div class="form-group">
      <%= f.label :cartodb_username %>
      <%= f.text_field :cartodb_username,class: "form-control" %>
      <%= f.label :table %>
      <%= f.text_field :table,class: "form-control" %>
      <%= f.label :city %>
      <%= f.text_field :city,class: "form-control" %>
    
      <%= f.label :state %>
      <%= f.text_field :state,class: "form-control" %>

      <legend>Add a description</legend>
        <%= f.label :description %>
        <%= f.text_area :description,class: "form-control" %>

      <legend>Search by date</legend>
        <%= f.label :date1 %>
        <%= f.date_field :date1 %>

        <%= f.label :date2 %>
        <%= f.date_field :date2 %>  
      </div>
      
      <%= f.submit 'CREATE MAP',class: 'btn btn-primary btn-block' %>
   
  <% end %>
  </section>

  </header>
</div>
<br>

<div class="container" id="up">
  <div class="row">
    <div class="col-md-6 text-center">
      <input type="button" class="btn btn-success btn-block" id="show-map" value="PREVIEW">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 map-container">
    </div>
  </div>
</div>


  